body {
    font-family:'Courier New, Courier, monospace;
    text-align: center;
}

#board {
   /* background-color: skyblue;*/
   background-image: url(./background-apocalypse.png);
   height: 100%;
   background-position-y: bottom;
   width: 100%;
   background-size: 150%;


}
.container {
    max-width: 400px;
    margin: 0 auto;
}